.layout {
  display: flex;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9fafb;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}